In [1]:
import os
import pandas as pd

In [2]:
directory = 'C:/Users/FANNY MARIA D SOUZA/Capstone/DemographicInfo/'

In [3]:
df=pd.read_csv('blockdesignscore.csv')

#### Demographic Info - Complex Pie

In [4]:
demo_complexpie=pd.read_csv('Features_ComplexPie.csv')

In [5]:
demo_complexpie

,Participant,Gender,Block Design Raw Score,Total Actions,Total Time Spent,Total Missed Interactions,Total Object Interactions,Time Spent S.D,Action Count S.D,Total Completed Steps,Apple Interactions - Add Apples,Add Sugar,Add apples to pan,Add cinnamon,Stir bowl,Put pie in oven
0,C001,Female,36,171,319.556571,10,161,21.491310,20.968374,18,49,12,75,26,11,10
1,C003,Female,58,172,362.351788,10,162,35.154070,29.176267,18,56,5,103,4,9,10
2,C006,Male,42,199,570.236635,24,175,56.950739,23.036730,18,25,15,83,12,27,11
3,C008,Female,34,254,466.281171,27,227,58.660959,47.043500,26,87,15,164,6,18,10
4,C009,Female,24,198,438.425413,2,196,47.728880,32.351198,26,73,11,114,4,17,5
5,C012,Female,54,247,532.936495,8,239,53.877959,37.176239,26,83,10,131,14,38,8
6,C013,Female,48,266,580.830070,22,244,61.982680,45.411052,26,88,8,160,9,18,7
7,C016,Male,39,208,517.807503,13,195,46.610894,30.500671,26,68,7,109,11,11,6
8,C017,Male,36,170,369.351203,11,159,35.590809,20.441936,19,37,11,49,2,62,8
9,C020,Female,30,222,565.967667,7,215,34.357832,23.506672,18,33,13,52,78,21,11
10,C021,Female,29,191,433.172928,14,177,53.824557,17.917995,21,8,66,20,26,4,21
11,C024,Female,42,194,288.786743,18,176,28.894366,29.007836,26,71,9,104,8,10,15
12,C025,Female,24,159,359.124353,17,142,33.020450,16.108157,18,31,5,40,41,3,35
13,C028,Male,50,204,858.494425,18,186,90.978381,35.432651,26,91,18,123,4,6,24
14,C029,Male,34,142,348.855143,6,136,42.245812,19.796235,14,31,35,59,6,0,0
15,C032,Female,63,305,556.955603,20,285,29.614194,23.652023,18,36,15,73,70,24,13

In [6]:
df = df[['Q1','Q2.1']].rename(columns={'Q1': 'Participant', 'Q2.1': 'Age'})
df_complexpie = pd.merge( demo_complexpie, df , on='Participant', how='inner')
df_complexpie

,Participant,Gender,Block Design Raw Score,Total Actions,Total Time Spent,Total Missed Interactions,Total Object Interactions,Time Spent S.D,Action Count S.D,Total Completed Steps,Apple Interactions - Add Apples,Add Sugar,Add apples to pan,Add cinnamon,Stir bowl,Put pie in oven,Age
0,C001,Female,36,171,319.556571,10,161,21.491310,20.968374,18,49,12,75,26,11,10,21
1,C003,Female,58,172,362.351788,10,162,35.154070,29.176267,18,56,5,103,4,9,10,25
2,C006,Male,42,199,570.236635,24,175,56.950739,23.036730,18,25,15,83,12,27,11,35
3,C008,Female,34,254,466.281171,27,227,58.660959,47.043500,26,87,15,164,6,18,10,25
4,C009,Female,24,198,438.425413,2,196,47.728880,32.351198,26,73,11,114,4,17,5,26
5,C012,Female,54,247,532.936495,8,239,53.877959,37.176239,26,83,10,131,14,38,8,25
6,C013,Female,48,266,580.830070,22,244,61.982680,45.411052,26,88,8,160,9,18,7,26
7,C016,Male,39,208,517.807503,13,195,46.610894,30.500671,26,68,7,109,11,11,6,28
8,C017,Male,36,170,369.351203,11,159,35.590809,20.441936,19,37,11,49,2,62,8,24
9,C020,Female,30,222,565.967667,7,215,34.357832,23.506672,18,33,13,52,78,21,11,28
10,C021,Female,29,191,433.172928,14,177,53.824557,17.917995,21,8,66,20,26,4,21,28
11,C024,Female,42,194,288.786743,18,176,28.894366,29.007836,26,71,9,104,8,10,15,24
12,C025,Female,24,159,359.124353,17,142,33.020450,16.108157,18,31,5,40,41,3,35,25
13,C028,Male,50,204,858.494425,18,186,90.978381,35.432651,26,91,18,123,4,6,24,23
14,C029,Male,34,142,348.855143,6,136,42.245812,19.796235,14,31,35,59,6,0,0,25
15,C032,Female,63,305,556.955603,20,285,29.614194,23.652023,18,36,15,73,70,24,13,18

In [7]:
df_complexpie['Age'] = pd.to_numeric(df_complexpie['Age'], errors='coerce')
age_summary_cp=df_complexpie['Age'].describe()
age_summary_cp

count    16.000000
mean     25.375000
std       3.630886
min      18.000000
25%      24.000000
50%      25.000000
75%      26.500000
max      35.000000
Name: Age, dtype: float64

In [23]:
gender_counts=df_complexpie['Gender'].value_counts()
gender_counts

Gender
Female    11
Male       5
Name: count, dtype: int64

#### Demographic Info - Simple Pie

In [8]:
demo_simplepie=pd.read_csv('Features_SimplePie.csv')

In [9]:
demo_simplepie

,Participant,Gender,Block Design Raw Score,Total Actions,Total Time Spent,Total Missed Interactions,Total Object Interactions,Time Spent S.D,Action Count S.D,Total Completed Steps,Apple Interactions - Add Apples,Add Sugar,Add apples to pan,Add cinnamon,Stir bowl,Put pie in oven
0,C002,Female,28,231,441.284316,30,201,50.340261,24.617067,18,42,70,68,7,7,12
1,C004,Male,30,106,267.087071,10,96,29.587162,11.430422,18,28,28,36,2,6,7
2,C005,Female,46,224,420.203874,24,200,42.595820,26.613052,18,52,19,85,52,4,33
3,C010,Female,54,189,391.381875,29,160,32.157613,22.471396,18,66,22,81,5,6,15
4,C014,Female,32,252,373.759417,12,240,31.466625,37.179173,26,70,9,127,8,3,10
5,C015,Female,33,148,179.116540,7,141,16.728146,25.625626,26,65,8,90,2,14,7
6,C018,Male,50,225,460.775250,37,188,62.982422,28.409025,26,70,46,98,3,12,7
7,C019,Female,40,149,251.291784,14,135,23.819270,14.073831,18,39,8,48,29,7,7
8,C023,Female,52,179,332.910903,17,162,30.494925,20.847498,26,58,16,76,5,14,25
9,C026,Female,33,269,615.561959,18,251,61.220314,28.549479,18,39,92,57,47,16,13
10,C027,Female,41,194,329.012081,17,177,31.455011,33.374459,26,81,16,117,4,18,7
11,C030,Female,39,159,321.537060,33,126,37.353355,23.183458,18,42,35,78,2,4,9
12,C031,Male,61,149,241.995862,28,121,17.418283,20.353691,26,62,12,73,6,5,11

In [10]:
df_simplepie = pd.merge( demo_simplepie, df , on='Participant', how='inner')
df_simplepie

,Participant,Gender,Block Design Raw Score,Total Actions,Total Time Spent,Total Missed Interactions,Total Object Interactions,Time Spent S.D,Action Count S.D,Total Completed Steps,Apple Interactions - Add Apples,Add Sugar,Add apples to pan,Add cinnamon,Stir bowl,Put pie in oven,Age
0,C002,Female,28,231,441.284316,30,201,50.340261,24.617067,18,42,70,68,7,7,12,26
1,C004,Male,30,106,267.087071,10,96,29.587162,11.430422,18,28,28,36,2,6,7,26
2,C005,Female,46,224,420.203874,24,200,42.595820,26.613052,18,52,19,85,52,4,33,24
3,C010,Female,54,189,391.381875,29,160,32.157613,22.471396,18,66,22,81,5,6,15,26
4,C014,Female,32,252,373.759417,12,240,31.466625,37.179173,26,70,9,127,8,3,10,25
5,C015,Female,33,148,179.116540,7,141,16.728146,25.625626,26,65,8,90,2,14,7,25
6,C018,Male,50,225,460.775250,37,188,62.982422,28.409025,26,70,46,98,3,12,7,26
7,C019,Female,40,149,251.291784,14,135,23.819270,14.073831,18,39,8,48,29,7,7,22
8,C023,Female,52,179,332.910903,17,162,30.494925,20.847498,26,58,16,76,5,14,25,23
9,C026,Female,33,269,615.561959,18,251,61.220314,28.549479,18,39,92,57,47,16,13,24
10,C027,Female,41,194,329.012081,17,177,31.455011,33.374459,26,81,16,117,4,18,7,26
11,C030,Female,39,159,321.537060,33,126,37.353355,23.183458,18,42,35,78,2,4,9,25
12,C031,Male,61,149,241.995862,28,121,17.418283,20.353691,26,62,12,73,6,5,11,25

In [11]:
df_simplepie['Age'] = pd.to_numeric(df_simplepie['Age'], errors='coerce')
age_summary_sp=df_simplepie['Age'].describe()
age_summary_sp

count    13.000000
mean     24.846154
std       1.281025
min      22.000000
25%      24.000000
50%      25.000000
75%      26.000000
max      26.000000
Name: Age, dtype: float64

In [24]:
gender_counts=df_simplepie['Gender'].value_counts()
gender_counts

Gender
Female    10
Male       3
Name: count, dtype: int64

#### Demographic Info - Complex Stew

In [12]:
demo_complexstew=pd.read_csv('Features_ComplexStew.csv')

In [13]:
demo_complexstew

,Participant,Gender,Block Design Raw Score,Total Actions,Total Time Spent,Total Missed Interactions,Total Object Interactions,Time Spent S.D,Action Count S.D,Total Completed Steps,Add Onion,Add Tomtato,Add Beef
0,C002,Female,28,236,379.717201,7,229,27.092263,19.574360,28,31,20,57
1,C004,Male,30,230,448.278247,11,219,33.319354,20.709633,28,63,22,34
2,C005,Female,46,244,630.314119,26,218,46.989878,25.988031,24,27,27,36
3,C011,Female,34,317,441.342282,68,249,40.778881,34.486874,19,57,26,98
4,C014,Female,32,149,301.389534,13,136,14.376381,13.527339,24,20,26,0
5,C015,Female,33,328,477.137853,18,310,34.377668,30.626060,32,34,35,89
6,C018,Male,50,175,311.229064,6,169,17.584074,15.629388,32,24,25,46
7,C019,Female,40,222,392.315865,3,219,29.693535,24.380320,28,81,19,29
8,C023,Female,52,296,512.460218,7,289,52.261754,36.080774,32,38,26,105
9,C026,Female,33,202,392.338178,1,201,20.106392,15.597721,28,47,22,36
10,C027,Female,41,167,288.690354,4,163,16.154880,15.874858,32,22,18,43
11,C031,Male,61,303,631.112215,46,257,59.936255,31.941092,32,52,20,108

In [14]:
df_complexstew = pd.merge( demo_complexstew, df , on='Participant', how='inner')
df_complexstew

,Participant,Gender,Block Design Raw Score,Total Actions,Total Time Spent,Total Missed Interactions,Total Object Interactions,Time Spent S.D,Action Count S.D,Total Completed Steps,Add Onion,Add Tomtato,Add Beef,Age
0,C002,Female,28,236,379.717201,7,229,27.092263,19.574360,28,31,20,57,26
1,C004,Male,30,230,448.278247,11,219,33.319354,20.709633,28,63,22,34,26
2,C005,Female,46,244,630.314119,26,218,46.989878,25.988031,24,27,27,36,24
3,C011,Female,34,317,441.342282,68,249,40.778881,34.486874,19,57,26,98,25
4,C014,Female,32,149,301.389534,13,136,14.376381,13.527339,24,20,26,0,25
5,C015,Female,33,328,477.137853,18,310,34.377668,30.626060,32,34,35,89,25
6,C018,Male,50,175,311.229064,6,169,17.584074,15.629388,32,24,25,46,26
7,C019,Female,40,222,392.315865,3,219,29.693535,24.380320,28,81,19,29,22
8,C023,Female,52,296,512.460218,7,289,52.261754,36.080774,32,38,26,105,23
9,C026,Female,33,202,392.338178,1,201,20.106392,15.597721,28,47,22,36,24
10,C027,Female,41,167,288.690354,4,163,16.154880,15.874858,32,22,18,43,26
11,C031,Male,61,303,631.112215,46,257,59.936255,31.941092,32,52,20,108,25

In [15]:
df_complexstew['Age'] = pd.to_numeric(df_complexstew['Age'], errors='coerce')
age_summary_cs=df_complexstew['Age'].describe()
age_summary_cs

count    12.000000
mean     24.750000
std       1.288057
min      22.000000
25%      24.000000
50%      25.000000
75%      26.000000
max      26.000000
Name: Age, dtype: float64

In [25]:
gender_counts=df_complexstew['Gender'].value_counts()
gender_counts

Gender
Female    9
Male      3
Name: count, dtype: int64

#### Demographic Info - Simple Stew

In [16]:
demo_simplestew=pd.read_csv('Features_SimpleStew.csv')

In [17]:
demo_simplestew

,Participant,Gender,Block Design Raw Score,Total Actions,Total Time Spent,Total Missed Interactions,Total Object Interactions,Time Spent S.D,Action Count S.D,Total Completed Steps,Add Onion,Add Tomtato,Add Beef
0,C001,Female,36,180,241.813972,3,177,19.373010,15.033296,28,33,25,35
1,C003,Female,58,212,368.939742,13,199,35.630609,18.443909,28,35,18,59
2,C006,Male,42,216,258.609221,45,171,19.902276,24.180800,28,26,24,33
3,C008,Female,34,290,316.882270,9,281,20.357014,27.190685,32,55,34,72
4,C009,Female,24,344,450.877417,16,328,47.383847,46.421259,28,0,32,153
5,C012,Female,54,163,240.627667,1,162,14.958293,15.122096,32,28,20,42
6,C013,Female,48,314,530.895012,35,279,35.520103,25.382409,30,48,29,74
7,C016,Male,39,183,185.527859,16,167,11.689684,18.523559,32,24,21,60
8,C017,Male,36,218,335.729737,12,206,25.446555,20.384090,28,57,26,49
9,C020,Female,30,212,320.340694,1,211,17.424497,18.023442,28,54,23,30
10,C021,Female,29,310,481.343316,14,296,35.932085,26.072548,28,49,29,83
11,C024,Female,42,156,188.807745,4,152,10.711102,14.017449,32,19,17,43
12,C025,Female,24,160,317.064713,12,148,21.660530,15.033296,28,42,18,28
13,C028,Male,50,180,283.077166,3,177,19.425701,17.441967,32,34,22,45
14,C032,Female,63,181,214.467324,5,176,16.958552,19.996944,28,34,17,64

In [18]:
df_simplestew = pd.merge( demo_simplestew, df , on='Participant', how='inner')
df_simplestew

,Participant,Gender,Block Design Raw Score,Total Actions,Total Time Spent,Total Missed Interactions,Total Object Interactions,Time Spent S.D,Action Count S.D,Total Completed Steps,Add Onion,Add Tomtato,Add Beef,Age
0,C001,Female,36,180,241.813972,3,177,19.373010,15.033296,28,33,25,35,21
1,C003,Female,58,212,368.939742,13,199,35.630609,18.443909,28,35,18,59,25
2,C006,Male,42,216,258.609221,45,171,19.902276,24.180800,28,26,24,33,35
3,C008,Female,34,290,316.882270,9,281,20.357014,27.190685,32,55,34,72,25
4,C009,Female,24,344,450.877417,16,328,47.383847,46.421259,28,0,32,153,26
5,C012,Female,54,163,240.627667,1,162,14.958293,15.122096,32,28,20,42,25
6,C013,Female,48,314,530.895012,35,279,35.520103,25.382409,30,48,29,74,26
7,C016,Male,39,183,185.527859,16,167,11.689684,18.523559,32,24,21,60,28
8,C017,Male,36,218,335.729737,12,206,25.446555,20.384090,28,57,26,49,24
9,C020,Female,30,212,320.340694,1,211,17.424497,18.023442,28,54,23,30,28
10,C021,Female,29,310,481.343316,14,296,35.932085,26.072548,28,49,29,83,28
11,C024,Female,42,156,188.807745,4,152,10.711102,14.017449,32,19,17,43,24
12,C025,Female,24,160,317.064713,12,148,21.660530,15.033296,28,42,18,28,25
13,C028,Male,50,180,283.077166,3,177,19.425701,17.441967,32,34,22,45,23
14,C032,Female,63,181,214.467324,5,176,16.958552,19.996944,28,34,17,64,18

In [19]:
df_simplestew['Age'] = pd.to_numeric(df_simplestew['Age'], errors='coerce')
age_summary_ss=df_simplestew['Age'].describe()
age_summary_ss

count    15.000000
mean     25.400000
std       3.756898
min      18.000000
25%      24.000000
50%      25.000000
75%      27.000000
max      35.000000
Name: Age, dtype: float64

In [26]:
gender_counts=df_simplestew['Gender'].value_counts()
gender_counts

Gender
Female    11
Male       4
Name: count, dtype: int64

#### T-test between Simple Pie and Complex Pie

In [20]:
from scipy.stats import ttest_ind

t_stat, p_value = ttest_ind(df_simplepie['Age'], df_complexpie['Age'], nan_policy='omit')
t_stat, p_value

(-0.49908196523771886, 0.6217638963001795)

#### T-test between Simple Stew and Complex Stew

In [21]:
from scipy.stats import ttest_ind

t_stat, p_value = ttest_ind(df_simplestew['Age'], df_complexstew['Age'], nan_policy='omit')
t_stat, p_value

(0.5711651554298773, 0.5729870207735634)